

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


@media screen and (max-width:1100px){
	#site-header {max-width:100%;}
	#sidebar img {max-width:100%;}
	
}

@media screen and (max-width:700px){
	#site-header {max-width:100%;}
	#sidebar img {max-width:100%;}
	h1 {font-size:0.7em;}
}


@media screen and (max-width: 500px){
	#site-header {max-width:100%;}
	#sidebar img {max-width:100%;}
	h1 {font-size:0.5em;}
}



body {
	font-family: sans-serif;
	line-height: 1;
}

#site-wrapper {
	background-color:#ebf2d5;
	height: 125px;
}


#site-header {
	margin: 0px auto;
	width: 960px;
	position:relative;
}

h1 h2 {
	color:#77491c;
	text-transform: uppercase;
	font-size: 17px;
	text-weight: bold;
}

#sidebar h1 {
	color:77491c;
	text-transform: uppercase;
	font-size:18px;
}


#site-header h1 a {
	display: block;
	width: 305px;
	height: 124px;
	background: url(images/logo.png);
	text-indent:-99999px;
}


#top-nav {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size:12px;
}

a {
	text-decoration: none;
	color: #9f8676;
}


#menu-wrapper {
	background-color: #77491c;
	height: 35px;
}

#main-menu {
	margin: 0px auto;
	width: 960px;
	display:block;
}			

#main-menu li {
	float: left;
	padding: 5px;
	list-style-type:none;
	text-transform: uppercase;
	margin: 5px;
	color: white;
}

#main-menu li a {
	text-decoration:none;
	color:white;
}
ol ul {
	list-style: none;
	color:white;
}

#content {
	margin: 0px auto;
	width: 960px;
}
	
#page {
	clear: both;
	width: 60%;
	float: left;
	line-height: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#page h1 {
	color: #77491c;
	text-transform: uppercase;
	font-size:32px;
	padding-bottom:12px;
}

#page h2 {
	color: #77491c;
	text-transform: uppercase;
	font-size:18px;
}

#page h1 {
	color: #77491c;
	text-transform: uppercase;
	text-weight: bold;
	padding-bottom: 10px;
}

p {
	font-size: 13px;
	padding-bottom: 6px;
}

#sidebar {
	float: right;
	width: 30%;
	padding-top: 135px;
	line-height: 1.5em;
}

ol, ul {
	list-style:none;
}

#footer-wrapper {
	background-color: #77491c;
	height: 160px;
	clear:both;
}

#site-footer {
	position: relative;
	clear:both;
	margin: 0 auto;
	width: 960px;
}

#footer-contact {
	position: absolute;
	left: 0px;
	top: 0px;
	color: white;
	font-size: 12px;
	width: 150px;
}

footer h1 {
	text-transform: uppercase;
	color: #cabca5;
	font-size: 14px;
	font-weight: bold;
	padding-top:5px;
}

#footer-follow {
	position: absolute;
	right: 0px;
	top: 0px;
}

#footer-follow li {
	float:left;
}